<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwRegistration="http://typo3.org/ns/RKW/RkwRegistration/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">


        <f:if condition="{settings.contact.show.contactForm}">
            <f:if condition="{settings.contact.text.headline}">
                <f:then>
                    <h2 id="tx-rkwsurvey-head" class="h2">{settings.contact.text.headline}</h2>
                </f:then>
                <f:else>
                    <h2 id="tx-rkwsurvey-head" class="h2"><f:translate key="templates_survey_newContact.contactHeadline" /></h2>
                </f:else>
            </f:if>


            <f:if condition="{settings.contact.text.description}">
                <f:then>
                    <p>{settings.contact.text.description}</p>
                </f:then>
                <f:else>
                    <p><f:translate key="templates_survey_newContact.contactText" /></p>
                </f:else>
            </f:if>

            <f:render partial="Survey/ContactForm" arguments="{_all}" />
        </f:if>
    </f:section>

    </html>