<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwSurvey/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

        <f:section name="main">

            <f:if condition="{surveyResult.survey.type} == 2">
                <f:then>
                    <f:comment><!-- container with multiple questions --></f:comment>
                    <f:for each="{surveyQuestionContainerArray}" as="container" iteration="containerIter">
                        <f:if condition="<rkw:isCurrentContainer surveyResult='{surveyResult}' questionContainerToCheck='{container}' />">
                            <f:if condition="{container.hideNameFe}">
                                <f:else>
                                    <h2 class="h2">{container.name}</h2>
                                </f:else>
                            </f:if>

                            <f:if condition="{container.description}">
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{container.description}</f:format.html>
                            </f:if>
                        </f:if>
                    </f:for>
                </f:then>
                <f:else>
                    <f:if condition="{settings.showSurveyNameProgess}">
                        <h2 class="h2">{surveyResult.survey.name}</h2>
                    </f:if>
                </f:else>
            </f:if>

            <f:if condition="{errorMessage}">
                <div class="system-message system-message--scroll" role="alert">
                    <div class="system-message__item system-message__item--severity2">
                        <div class="message-error typo3-message">
                            {errorMessage}
                        </div>
                    </div>
                </div>
            </f:if>

            <!-- Use 'arguments="{surveyResult: surveyResult, extensionSuffix: extensionSuffix}"' for separate SignalSlot -->
            <f:form action="progress" name="newQuestionResultContainer" id="check-head" object="{newQuestionResultContainer}" arguments="{surveyResult: surveyResult}" noCacheHash="true" class="webcheck__form" section="tx-rkwsurvey-head">
                <f:form.hidden name="surveyResult" property="surveyResult" value="{surveyResult}" />
                <f:form.hidden name="tokenInput" value="{tokenInput}" />

                <!-- question -->
                <f:if condition="{surveyResult.survey.type} == 2">
                    <f:then>
                        <f:comment><!-- container with multiple questions --></f:comment>
                        <f:for each="{surveyQuestionContainerArray}" as="container" iteration="containerIter">
                            <f:if condition="<rkw:isCurrentContainer surveyResult='{surveyResult}' questionContainerToCheck='{container}' />">
                                <f:for each="{container.question}" as="question" iteration="iter">
                                    <f:render partial="Survey/Question" arguments="{_all}" />
                                </f:for>
                            </f:if>
                        </f:for>
                    </f:then>
                    <f:else>
                        <f:comment><!-- single question as its own step --></f:comment>
                        <f:for each="{surveyResult.survey.question}" as="question" iteration="iter">
                            <f:if condition="{iter.index} == <f:count>{surveyResult.questionResult}</f:count>">
                                <f:render partial="Survey/Question" arguments="{_all}" />
                            </f:if>
                        </f:for>
                    </f:else>
                </f:if>


                <!-- footer -->
                <f:render partial="Survey/Footer" arguments="{_all}" />
            </f:form>

        </f:section>
</html>
