<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwSurvey/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <f:if condition="{survey}">

            <f:if condition="{settings.showSurveyNameIntroExtro}">
                <h2 class="h2">{survey.name}</h2>
            </f:if>

            <f:render partial="FlashMessages" arguments="{_all}" />

            <f:if condition="<rkw:checkSurveyDate survey='{survey}' />">
                <f:then>
                    <div class="system-message system-message--scroll" role="alert">
                        <div class="system-message__item system-message__item--alert-error">
                            <!-- too late / early -->
                            <f:if condition="<rkw:checkSurveyDate survey='{survey}' /> == 'early'">
                                <f:then>
                                    <f:translate key="templates_survey_welcome.early" extensionName="RkwSurvey" arguments="{0: '<f:format.date format=\'d.m.Y\' date=\'{survey.starttime}\'/>', 1: '<f:format.date format=\'h:m\' date=\'{survey.starttime}\'/>'}" />
                                </f:then>
                                <f:else>
                                    <f:translate key="templates_survey_welcome.late" extensionName="RkwSurvey" />
                                </f:else>
                            </f:if>
                        </div>
                    </div>
                </f:then>
                <f:else>

                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{survey.starttext}</f:format.html>

                    <div class="flex-container">

                        <!-- Use 'arguments="{survey: survey, surveyResult: surveyResult, extensionSuffix: extensionSuffix}"' for separate SignalSlot -->
                        <f:form action="start" arguments="{survey: survey, surveyResult: surveyResult}" noCacheHash="true" section="check-head" class="flex flex-basis-8 full-width-medium space-between">
                            <f:if condition="{survey.accessRestricted}">
                                <f:if condition="{tokenInput}">
                                    <f:then>
                                        <f:form.hidden name="tokenInput" value="{tokenInput}" />
                                    </f:then>
                                    <f:else>
                                        <div class="form__field width50 break-after">
                                            <label for="tx-rkwsurvey-token"><f:translate key="templates_survey_welcome.token" extensionName="RkwSurvey" /><span class="is-required"><f:translate key="templates_survey_welcome.required" extensionName="RkwSurvey" /></span></label>
                                            <f:form.textfield name="tokenInput" id="tx-rkwsurvey-token" type="text" />
                                        </div>
                                    </f:else>
                                </f:if>
                            </f:if>

                            <f:if condition="{tagsInput}">
                                <f:then>
                                    <f:form.hidden name="tagsInput" value="{tagsInput}" />
                                </f:then>
                            </f:if>

                            <div class="form__field flex space-start full-width-narrow">
                                <f:form.button class="btn btn--primary full-width-narrow"><f:translate key="templates_survey_welcome.start" extensionName="RkwSurvey" /></f:form.button>
                            </div>
                        </f:form>
                    </div>
                </f:else>
            </f:if>
        </f:if>
    </f:section>
</html>
