<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwRegistration="http://typo3.org/ns/RKW/RkwRegistration/ViewHelpers"
    data-namespace-typo3-fluid="true">


    <f:render partial="FlashMessages" arguments="{_all}" />
    <f:render partial="FormErrors" arguments="{object:contactForm}" />

    <f:form
        action="createContact"
        object="contactForm"
        name="contactForm"
        arguments="{surveyResult: surveyResult}"
    >

        <f:form.hidden name="tokenInput" id="tokenInput" value="{tokenInput}" />

        <div class="flex-container mt-2">
            <div class="form flex flex-basis-8 full-width-medium space-between">

                <f:if condition="{settings.contact.show.gender}">
                    <div class="form__field width25 break-after">
                        <label class="form-label" for="gender">
                            <f:translate key="partials_survey_contactForm.gender" />
                            <f:if condition="{settings.contact.required.gender}">
                                <f:then>
                                    <span class="is-required"><f:translate key="partials_survey_contactForm.labelRequired" /></span>
                                </f:then>
                                <f:else>
                                    <span class="is-optional"><f:translate key="partials_survey_contactForm.labelOptional" /></span>
                                </f:else>
                            </f:if>
                        </label>
                        <f:form.select
                            id="gender"
                            class="select-field select-field--longer"
                            property="gender"
                            value="{contactForm.gender}"
                            options="{99: '{f:translate(key:\"partials_survey_contactForm.gender.I.99\")}', 0: '{f:translate(key:\"partials_survey_contactForm.gender.I.0\")}', 1: '{f:translate(key:\"partials_survey_contactForm.gender.I.1\")}'}" optionValueField="uid" optionLabelField="name"
                        />
                    </div>
                </f:if>

                <f:if condition="{settings.contact.show.firstName}">
                    <div class="form__field width50">
                        <label class="form-label" for="firstName">
                            <f:translate key="partials_survey_contactForm.first_name" />
                            <f:if condition="{settings.contact.required.firstName}">
                                <f:then>
                                    <span class="is-required"><f:translate key="partials_survey_contactForm.labelRequired" /></span>
                                </f:then>
                                <f:else>
                                    <span class="is-optional"><f:translate key="partials_survey_contactForm.labelOptional" /></span>
                                </f:else>
                            </f:if>
                        </label>
                        <f:form.textfield
                            id="firstName"
                            property="firstName"
                            value="{contactForm.firstName}"
                            additionalAttributes="{autocomplete:'fname'}"
                        />
                    </div>
                </f:if>

                <f:if condition="{settings.contact.show.lastName}">
                    <div class="form__field width50">
                        <label class="form-label" for="lastName">
                            <f:translate key="partials_survey_contactForm.last_name" />
                            <f:if condition="{settings.contact.required.lastName}">
                                <f:then>
                                    <span class="is-required"><f:translate key="partials_survey_contactForm.labelRequired" /></span>
                                </f:then>
                                <f:else>
                                    <span class="is-optional"><f:translate key="partials_survey_contactForm.labelOptional" /></span>
                                </f:else>
                            </f:if>
                        </label>
                        <f:form.textfield
                            id="lastName"
                            property="lastName"
                            value="{contactForm.lastName}"
                            additionalAttributes="{autocomplete:'lname'}"
                        />
                    </div>
                </f:if>

                <f:if condition="{settings.contact.show.company}">
                    <div class="form__field width50">
                        <label class="form-label" for="company">
                            <f:translate key="partials_survey_contactForm.company" />
                            <f:if condition="{settings.contact.required.company}">
                                <f:then>
                                    <span class="is-required"><f:translate key="partials_survey_contactForm.labelRequired" /></span>
                                </f:then>
                                <f:else>
                                    <span class="is-optional"><f:translate key="partials_survey_contactForm.labelOptional" /></span>
                                </f:else>
                            </f:if>
                        </label>
                        <f:form.textfield
                            id="company"
                            property="company"
                            value="{contactForm.company}"
                        />
                    </div>
                </f:if>

                <div class="form__field width50">
                    <label class="form-label" for="email">
                        <f:translate key="partials_survey_contactForm.email" />
                        <!-- Do not check: ALWAYS MANDATORY! -->
                        <span class="is-required"><f:translate key="partials_survey_contactForm.labelRequired" /></span>
                    </label>
                    <f:form.textfield
                        id="email"
                        property="email"
                        value="{contactForm.email}"
                        additionalAttributes="{autocomplete:'email'}"
                        type="email"
                    />
                </div>

                <f:if condition="{settings.contact.show.phone}">
                    <div class="form__field width50">
                        <label class="form-label" for="phone">
                            <f:translate key="partials_survey_contactForm.phone" />
                            <f:if condition="{settings.contact.required.phone}">
                                <f:then>
                                    <span class="is-required"><f:translate key="partials_survey_contactForm.labelRequired" /></span>
                                </f:then>
                                <f:else>
                                    <span class="is-optional"><f:translate key="partials_survey_contactForm.labelOptional" /></span>
                                </f:else>
                            </f:if>
                        </label>
                        <f:form.textfield
                            id="phone"
                            property="phone"
                            value="{contactForm.phone}"
                            additionalAttributes="{autocomplete:'fname'}"
                        />
                    </div>
                </f:if>

                <div class="form__field">
                    <f:form.checkbox
                        class="checkbox"
                        id="survey"
                        property="privacy"
                        value="1"
                    />
                    <label for="survey" class="checkbox-label">
                        <rkwRegistration:privacyText textVersion="survey"/>
                    </label>
                </div>

                <button type="submit" class="btn btn--primary" name="final">
                    <span>
                        <f:translate key="partials_survey_contactForm.button" />
                    </span>
                </button>
            </div>
        </div>


    </f:form>

</html>