<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwSurvey/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <div class="button-footer flex space-between align-center flex-basis-12 mt-2">
        <div class="dummy">&nbsp;</div>

        <div class="steps">
            <span>
                <f:translate key='partials_survey_footer.progress' extensionName='RkwSurvey' />:
                <rkw:calcPercentage percentage='<rkw:pageCount surveyResult="{surveyResult}" start="0" />' total='{surveyResult.survey.questionCountTotal}' />

                 <f:comment>
                    <!-- old "Frage 1/4" pagination -->
                    <f:translate key='partials_survey_footer.question' extensionName='RkwSurvey' /> <rkw:pageCount surveyResult='{surveyResult}' /> / {surveyResult.survey.questionCountTotal}
                </f:comment>
            </span>
        </div>

        <f:if condition="<rkw:isLastStep surveyResult='{surveyResult}' />">
            <f:then>
                <f:form.submit class="btn btn--primary" value="<f:translate key='partials_survey_footer.finish' extensionName='RkwSurvey' />" />
            </f:then>
            <f:else>
                <f:form.submit class="btn btn--primary" value="<f:translate key='partials_survey_footer.next' extensionName='RkwSurvey' />" />
            </f:else>
        </f:if>
    </div>
</html>