<f:be.container loadJQuery="false"
				includeCssFiles="{0 :\"{f:uri.resource(path:'Css/backend.css')}\"}"
				includeJsFiles="{0 :\"{f:uri.resource(path:'JavaScript/backend.js')}\"}"
>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:link.action action="list">zur Übersicht</f:link.action>
				</div>
				<div class="right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody" class="tx_rkwsurvey">
				<f:render partial="FlashMessages" arguments="{_all}" />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
