<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    
    <f:section name="content">
        
        <h1><f:translate key='templates_backend_show.header' extensionName='RkwSurvey' />: {survey.name}</h1>
    
        <f:render partial="FlashMessages" arguments="{_all}" />
    
        <!-- filtering -->
        <f:render partial="Backend/Actions" arguments="{_all}" />
    
        <!-- survey details -->
        <f:render partial="Backend/Survey" arguments="{_all}" />
    
        <!-- result -->
        <f:if condition="{questionResultList}">
            <f:render partial="Backend/Result" arguments="{_all}" />
        </f:if>
    
    </f:section>
</html>