
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
	Private:
	  Templates:
		Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

    <h1><f:translate key='templates_backend_show.header' extensionName='RkwSurvey' />: {survey.name}</h1>

    <f:flashMessages />

	<!-- filtering -->
	<f:render partial="Backend/Actions" arguments="{_all}" />

	<!-- survey details -->
	<f:render partial="Backend/Survey" arguments="{_all}" />

	<!-- result -->
	<f:if condition="{questionResultList}">
		<f:render partial="Backend/Result" arguments="{_all}" />
	</f:if>

</f:section>