<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwSurvey/ViewHelpers"
    data-namespace-typo3-fluid="true">


    <div class="scale-group">
        <div class="scale-group__item scale-group__item--label">
            {question.textConsent}
        </div>

        <f:for each="<rkw:loop number='{question.scaleToPoints}' />" as="element" iteration="iterScale">
            <div class="form__field scale-group__item">
                <f:form.radio
                    id="tx-rkwsurvey-radio-{iterScale.cycle}"
                    class="radio"
                    name="answer"
                    property="answer"
                    value="{iterScale.cycle}"
                />
                <label for="tx-rkwsurvey-radio-{iterScale.cycle}" class="radio-label"><span>{iterScale.cycle}</span></label>
            </div>
        </f:for>

        <div class="scale-group__item scale-group__item--label">
            {question.textRejection}
        </div>
    </div>
</html>