<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwSurvey/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:for each="<rkw:explode string='{question.answerOption}' />" as="answerOption" iteration="iterAnswer">
        <div class="form__field form__field--webcheck">
            <f:form.radio
                id="answer{iter.cycle}-{iterAnswer.cycle}"
                class="radio"
                name="questionResult.{iter.index}.answer"
                property="questionResult.{iter.index}.answer"
                value="{iterAnswer.cycle}"
                checked="<rkw:getFormFieldValue questionResultContainer='{prevResultContainer}' containerIter='{iter.index}' questionIter='{iterAnswer.cycle}' />"
            />
            <label class="radio-label radio-label--webcheck answer" for="answer{iter.cycle}-{iterAnswer.cycle}">
                {answerOption}
            </label>
        </div>
    </f:for>
</html>